<!-- Places details page -->
<h1><%= @place["name"] %></h1>

<h3>Posts</h3>
<ul>
  <% for post in @posts %>
    <li>
      <a href="/posts/<%= post["id"] %>">
        <%= post["title"] %>, <%= post["posted_on"] %>, <%= post["description"] %>
      </a>
    </li>
  <% end %>
</ul>


<p><a href="/posts/new?place_id=<%= @place["id"] %>">New post</a></p>
<br>
<p><a href="/places">Back to my places</a></p>